html {
  background-color: black;
}

body{
  margin: 0;
  padding: 0;
}
.title-bar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

.title-bar > img {
  max-height: 175px;
  margin: 50px;
  width: auto;
}
#title {
line-height: 10px;
margin: auto;
}

#title > h2 {
  margin-bottom: 10px;
}


#title > h1 {
  font-family: cursive, 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white;;
  text-align: center;
}

#title > h2 {
  font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: center;
  color: white;
}

#games > tbody > tr > th {
  font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: center;
  color: white;
}

#games > tbody > tr > td {
  font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: center;
  color: white;
}

#Home > div.boxtop > p {
  color: white;
  margin-left: -5em;
}

.p1, #instructions1, #instructions2, #instructions3, #strategy, #about {
  text-align: center;
  color: white;
}

form {
  text-align: center;
}

label {
  color: white;
}

li {
  color: white;
}

h4 {
  color: white;
}

.box {
  max-width: 90%;
  height: 500px;
  border: 5px solid white;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  text-align: center;
}

.cardPicture {
  border: 5px solid red;
  height: 50px;
}

#Home > div.box > button:nth-child(2){
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 362px;
  margin-top: 450px;
}

#Home > div.box > button:nth-child(1) {
  margin-top: 5px;
}

.boxtop {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 130px;
}

.websiteinfo {
  text-align: center;
}

.site1 {
  text-align: center;
}

h3, h6 {
  text-align: center;
  color: white;
}

a {
  background-color: black;
  color: white;
}

.hidden--mobile {
  display: flex;
  justify-content: space-evenly;
}

.hidden--mobile2 {
  display: flex;
  justify-content: space-evenly;
}

.hidden--mobile3 {
  display: flex;
  justify-content: space-evenly;
}

.hidden--mobile4 {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
    color: white;
  }
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none;
    color: white;
  }
}

@media (max-width: 815px) {
  header, .box, #title {
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 815px) {
  .title-img {
    display: none;
  }
}
/* @media (min-width: 815px) {
  header, .box, #title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
} */



nav > .fa-bars {
  color: white;
  width: 100px;
  }

.site1 {

  display: flex;
  flex-direction: column;
}

a:hover {
 background-color: white;
}

a:hover {
  color: black;
}

.buttonBar {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
