html {
  background-color: black;
}

.title-bar {
  display: flex;
  flex-flow: row;
}

.title-bar > img {
  max-height: 175px;
  margin-left: 50px;
  width: auto;
}

#title > h1 {
  font-family: cursive, 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white;;
  text-align: center;
  ;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: -90px;
}

#Home > div.boxtop > p {
  color: white;
  margin-left: -5em;
}

.p1, #instructions1, #instructions2, #instructions3, #strategy, #about {
  text-align: center;
  color: white;
}

form {
  text-align: center;
}

label {
  color: white;
}

li {
  color: white;
}

h4 {
  color: white;
}

.box {
  width: 800px;
  height: 500px;
  border: 5px solid white;
  margin: auto;
}

.boxtop {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 50px;
    padding-left: 130px;
}

.websiteinfo {
  text-align: center;
}

.site1 {
  text-align: center;
}

h3, h6 {
  text-align: center;
  color: white;
}

a {
  background-color: black;
  color: white;
}

.hidden--mobile {
  display: flex;
  justify-content: space-evenly;
}

.hidden--mobile2 {
  display: flex;
  justify-content: space-evenly;
}

.hidden--mobile3 {
  display: flex;
  justify-content: space-evenly;
}

.hidden--mobile4 {
  display: flex;
  justify-content: space-evenly;
}

/* @media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
    color: white;
  }
} */

@media (max-width: 549px) {
  .hidden--mobile {
    display: none;
    color: white;
  }

nav > .fa-bars {
  color: white;
  width: 100px;
  }

.site1 {

  display: flex;
  flex-direction: column;
}

a:hover {
 background-color: white;
}

a:hover {
  color: black;
}

#boxtop > btn {
  color: white;
}



